* {
    --test-border: 3px solid #eb4034;
    border: var(--test-border);
}

body {
    display: flex;
    height: 100vh;
}

form .form-inputs {
    display: flex;
}

form .input-pair {
    display: flex;
    flex-direction: column;
}
